.container {
  // @include mixins.flex-style(column, $align-items: center);
  min-height: 100vh;
  color: var(--dark-grayish-blue);
  padding: 0 1.6rem;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  // overflow-x: hidden;
  transition: transform var(--transition-timing) ease;

  &--moved {
    transform: translateX(27rem);
  }
}
