@use "mixins";

.container {
  @include mixins.flex-style(column);
  max-width: 32rem;
  width: 100%;
  min-height: 100vh;
  color: var(--color-very-dark-gray);
  padding: 0 1.6rem;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 auto;

  @include mixins.desktop-screen {
    max-width: 100rem;
    margin: 0;
    margin-left: 25rem;
    flex-direction: row;
  }
}
