@use "mixins";

%input-style {
  height: 4.5rem;
  width: 100%;
  padding: var(--default-padding);
  background-color: var(--color-light-gray);
  border: none;
  border-radius: var(--default-radius);
}

%heading {
  font-size: 2.6rem;
}

%meta-info {
  font-size: 1.3rem;
  color: var(--color-gray);
}

.main {
  order: 2;
  margin-bottom: calc(var(--default-padding) * 2);
  margin-top: 6rem;

  @include mixins.desktop-screen {
    width: 60rem;
    margin-left: calc(var(--default-padding) * 4);
  }

  .section {
    @include mixins.flex-style(column, $gap: 3.5rem);
    //
  }

  .Add-Note {
    &__form {
      @include mixins.flex-style(column, $gap: 3.5rem);
    }

    &__title {
      @extend %heading;
    }

    &__input-label {
      display: block;
      margin-bottom: 1rem;
      @extend %meta-info;
    }

    &__input-title,
    &__input-author {
      @extend %input-style;
    }

    &__input-note {
      @extend %input-style;
      height: 15rem;
    }

    &__add-buttons {
      @include mixins.flex-style($justify-content: space-between);
    }

    &__add-button {
      height: 4rem;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      color: var(--color-white);
      background-color: var(--color-orange);
      border-radius: var(--default-radius);
    }
  }

  .Note {
    &__title {
      @extend %heading;
    }

    &__info {
      margin-top: 1.5rem;
      @extend %meta-info;
    }

    &__content {
      margin-bottom: 0.6rem;
      line-height: 2.7rem;
      width: 100%;
      & p {
        margin-top: 1rem;
        hyphens: auto;
        text-wrap: pretty;
        overflow-wrap: break-word;
      }
    }

    &__add-note {
      margin-left: auto;
      margin-top: -4rem;
      width: 5rem;
      height: 5rem;
      background-image: url(../images/Add-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
