@use "mixins";

%input-style {
  height: 4.5rem;
  width: 100%;
  padding: var(--default-padding);
  background-color: var(--color-light-gray);
  border: none;
  border-radius: var(--default-radius);
}

%heading {
  font-size: 2.6rem;
}

%meta-info {
  font-size: 1.3rem;
  color: var(--color-gray);
}

.main {
  margin-bottom: calc(var(--default-padding) * 2);
  margin-top: 6rem;

  .section {
    @include mixins.flex-style(column, $gap: 3.5rem);
    //
  }

  .Add-Note {
    &__form {
      @include mixins.flex-style(column, $gap: 3.5rem);
    }

    &__title {
      @extend %heading;
    }

    &__input-label {
      display: block;
      margin-bottom: 1rem;
      @extend %meta-info;
    }

    &__input-title,
    &__input-author {
      @extend %input-style;
    }

    &__input-note {
      @extend %input-style;
      height: 15rem;
    }

    &__add-buttons {
      @include mixins.flex-style($justify-content: space-between);
    }

    &__add-button {
      height: 4rem;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      color: var(--color-white);
      background-color: var(--color-orange);
      border-radius: var(--default-radius);
    }
  }

  .Note {
    &__title {
      @extend %heading;
    }

    &__info {
      margin-top: 1.5rem;
      @extend %meta-info;
    }

    &__content {
      margin-bottom: 0.6rem;
      line-height: 2.7rem;
      width: 100%;
      & p {
        margin-top: 1rem;
        hyphens: auto;
        text-wrap: pretty;
        overflow-wrap: break-word;
      }
    }

    &__add-note {
      margin-left: auto;
      margin-top: -4rem;
      width: 5rem;
      height: 5rem;
      background-image: url(../images/Add-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .Home {
    gap: 2.2rem;
    padding: 0 calc(var(--default-padding) / 2);

    &__notes,
    &__pinned,
    &__list {
      @include mixins.flex-style(column, $gap: 1.6rem);
    }

    &__list-item {
      //
      padding: calc(var(--default-padding) / 2);
      padding-left: 0;

      &--pinned {
        background-color: var(--color-light-gray);
        border-radius: calc(var(--default-radius) * 2);
        padding-left: calc(var(--default-padding) / 2);
        transform: scaleX(1.1);
      }
    }

    &__mark {
      @include mixins.flex-style(column, $justify-content: center);
      color: var(--color-orange);
      font-size: 1.3rem;
    }

    &__notes-mark {
      position: relative;
      padding: calc(var(--default-padding) / 2) 0;

      &::before {
        content: "";
        align-self: center;
        position: absolute;
        width: 100vw;
        height: 100%;
        border: 1px solid #e7e7e9;
      }
    }

    .article {
      &__title {
        line-height: 2.7rem;
      }

      &__paragraph {
        @extend %meta-info;
        margin-top: 0.5rem;
        margin-bottom: 1.6rem;
        line-height: 2rem;
        height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__meta-info {
        @extend %meta-info;
        @include mixins.flex-style($justify-content: space-between);
        width: 23.3rem;
      }

      &__delete {
        color: #d82700;
      }
    }
  }
}
