:root {
  --mobile-width: 32.5rem;
  --desktop-width: 54rem;
  --default-padding: 2rem;
  --default-radius: 0.5rem;
  --transition-timing: 0.4s;
  --color-orange: #ec7160;
  --color-very-dark-gray: #303030;
  --color-gray: #898989;
  --color-light-gray: #f6f6f6;
  --color-white: #fff;
}
